.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 40px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.qty {
  padding: 20px;
}

.qty_1 {
  background-color: #3e8fa0;
  margin: 15px;
  padding: 5px;
  cursor: pointer;
  border: solid 2px;
}

.qty_1:hover {
  transform: scale(1.1);
}

.qty_2 {
  background-color: red;
  margin: 15px;
  padding: 5px;
  cursor: pointer;
  border: solid 2px;
}